<%= form_for(@motoristum) do |f| %>
  <% if @motoristum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@motoristum.errors.count, "error") %> prohibited this motoristum from being saved:</h2>

      <ul>
      <% @motoristum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :cpf %><br>
    <%= f.text_field :cpf %>
  </div>
  <div class="field">
    <%= f.label :tipo_caminhao %><br>
    <%= f.text_field :tipo_caminhao %>
  </div>
  <div class="field">
    <%= f.label :latitude %><br>
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br>
    <%= f.text_field :longitude %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
